<div id="header">
    <div class="head-main clearfix">
        <div class="band clearfix">
            <h1 class="logo"><a href="/">逗你的-搞笑图</a></h1>
            <div class="port">
                <a href="/post/pass" class="iconfont">&#xe6de;</a>
                <a class="iconfont post-up">&#xe6e5;</a>
            </div>
        </div>
        <div class="menu">
            <ul class="clearfix">
                <li <% if (config.subfield == 0) { %> class="on" <% } %> ><a href="/">最新</a></li>
                <li <% if (config.subfield == 1) { %> class="on" <% } %> ><a href="/week">周榜</a></li>
                <li <% if (config.subfield == 2) { %> class="on" <% } %> ><a href="/month">月榜</a></li>
                <li class="hid post"><a class="post-up" href="/post/pass">审贴</a></li>
                <li class="hid"><a href="/post/up">投稿</a></li>
                <li class="user"><a href="<% if (user.state_login) { %>/people/<%= user.info.loginname %><% } else {%>/user/login<% } %>">我</a></li>
            </ul>
        </div>
        <% if (!user.state_login) { %>
        <div class="login">
            <a class="login-btn quick" href="javascript:void(0)"><i class="iconfont">&#xe606;</i>快速登录</a>
            <a class="login-btn login-quick" href="/user/login"><i class="iconfont">&#xe6f0;</i>站内登录</a>
            <a class="login-btn login-quick" href="<%= 'https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=' + config.qq.ID + '&redirect_uri=' + config.qq.CALLBACK_URI + '&state=' + user.state_code %>"><i class="iconfont">&#xe607;</i>QQ&nbsp;登录</a>
            <a class="login-btn login-quick" href="<%= 'https://api.weibo.com/oauth2/authorize?client_id=' + config.wb.ID + '&redirect_uri=' + config.wb.CALLBACK_URI + '&response_type=code&state=' + user.state_code %>"><i class="iconfont">&#xe652;</i>微博登录</a>
        </div>
        <% } else if(user.state_login) { %>
        <div class="login">
            <a class="login-btn login-user ell" href="" title="<%= user.info.loginname + '的主页' %>"><img src="<%= user.info.avatar %>" alt="" width="35" height="35"><%= user.info.loginname %></a>
            <a class="login-btn login-quick" href="/people/<%= user.info.loginname %>"><i class="iconfont">&#xe606;</i>个人中心</a>
            <a class="login-btn login-quick" href="/user/edit"><i class="iconfont">&#xe604;</i>修改资料</a>
            <a class="login-btn login-quick" href="/post/up"><i class="iconfont">&#xe615;</i>新建投稿</a>
            <a class="login-btn login-quick" href="/user/out"><i class="iconfont set">&#xe67d;</i>退出登录</a>
        </div>
        <% } %>
    </div>
    <div class="head-phone">
        <i class="iconfont back">&#xe605;</i>
        <h1><%= config.title %></h1>
        <a class="iconfont user">&#xe606;</a>
    </div>
</div>

