<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" type="text/css" href="/public/css/default.css">
    <link rel="stylesheet" type="text/css" href="/public/css/header.css">
    <link rel="stylesheet" type="text/css" href="/public/css/body.css">
    <link rel="stylesheet" type="text/css" href="/public/css/page.css">
    <link rel="stylesheet" type="text/css" href="/public/css/reply.css">
    <link rel="stylesheet" type="text/css" href="/public/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/public/css/rank.css">
    <link rel="stylesheet" type="text/css" href="/public/css/post_rank.css">
    <link rel="stylesheet" type="text/css" href="/public/css/community.css">
    <link rel="stylesheet" type="text/css" href="/public/css/to.css">
    <link rel="stylesheet" type="text/css" href="/public/css/footer.css">


    <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="/public/js/main.js" type="text/javascript"></script>
    <script src="/public/js/post.js" type="text/javascript"></script>
    
</head>
<body>
<%- include('./header.html', {user: user}) %>
<%- include('./body/body.html') %>
<%- include('./footer.html') %>

</body>
</html>