/*
========================================
	Use:		public-default-css
	name:		css/public/default.css
	deta:		2017/1/24
	Author:	TaoTao
	Version:	v1.0
========================================
*/
html, body, div, span, input, textarea, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, i {
    font-weight: normal;
    font-style: normal;
}

ul, li {
    list-style: none;
}

body {
    background-color: #F3F3F4;
}
@media only screen and ( max-width: 800px ) {
    body {
        background-color: #F3F3F4;
    }
}

a,input{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}

a {
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

a:link {
    color: #34495e;
}

a:visited {
    color: #34495e;
}

img {
    border: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.auto {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ell {
    overflow: hidden;
    word-break: break-all;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@font-face {
    font-family: 'iconfont';  /* project id 307079 */
    src: url('//at.alicdn.com/t/font_uh17wpgwxvpfogvi.eot');
    src: url('//at.alicdn.com/t/font_uh17wpgwxvpfogvi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_uh17wpgwxvpfogvi.woff') format('woff'),
    url('//at.alicdn.com/t/font_uh17wpgwxvpfogvi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_uh17wpgwxvpfogvi.svg#iconfont') format('svg');
}

.iconfont{
    font-family: 'iconfont' !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}