<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%= title + ' ' + config.title %></title>
    <meta name="description" content="<%= config.description %>" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />

    <%-
        Loader('/public/css/user_center.css')
        .css('/public/css/default.css')
        .css('/public/css/header.css')
        .css('/public/css/head_phone.css')
        .css('/public/css/user_center.css')
        .done(assets, config.static_host, config.mini_assets)
    %>

    <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
    <%-
        Loader('/public/js/user_center_index.js')
        .js('/public/js/head_phone.js')
        .done(assets, config.static_host, config.mini_assets)
    %>
</head>
<body>
<%- include('../header.html', {user: user}) %>
<div class="center">
    <a class="item head clearfix" href="/user/edit">
        <img class="avatar" src="<%= user.info.avatar %>" alt="<%= user.info.loginname %>" width="55" height="55">
        <p class="info">
            <span class="ell"><%= user.info.loginname %></span>
            <span class="ell desc"><%= user.info.description %></span>
        </p>
        <p class="iconfont">&#xe625;</p>
    </a>
    <a href="/user/edit" class="item clearfix">
        <p class="title">修改资料</p>
        <p class="iconfont">&#xe625;</p>
    </a>
    <a href="/people/<%= user.info.loginname %>" class="item clearfix">
        <p class="title">我的帖子</p>
        <p class="iconfont">&#xe625;</p>
    </a>
    <a href="/reply/<%= user.info.loginname %>" class="item clearfix">
        <p class="title">我的评论</p>
        <p class="iconfont">&#xe625;</p>
    </a>
    <a href="/user/out" class="item clearfix">
        <p class="title">退出登录</p>
        <p class="iconfont">&#xe625;</p>
    </a>
    <a href="" class="item clearfix">
        <p class="title">关于我们</p>
        <p class="iconfont">&#xe625;</p>
    </a>
</div>
</body>
</html>
