<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%= title + ' ' + config.title %></title>
    <meta name="description" content="<%= config.description %>" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />

    <%-
        Loader('/public/css/edit_index.css')
        .css('/public/css/default.css')
        .css('/public/css/header.css')
        .css('/public/css/head_phone.css')
        .css('/public/css/edit.css')
        .css('/public/css/footer.css')
        .done(assets, config.static_host, config.mini_assets)
    %>

    <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
    <%-
        Loader('/public/js/edit_index.js')
        .js('/public/js/api.js')
        .js('/public/js/hint.js')
        .js('/public/js/head_phone.js')
        .js('/public/js/edit_index.js')
        .done(assets, config.static_host, config.mini_assets)
    %>

</head>
<body>
<%- include('../header.html', {user: user}) %>

<div class="edit">
    <div class="content clearfix">
        <div class="edit-head">
            个人资料
        </div>
        <div class="edit-form clearfix">
            <div class="avatar clearfix">
                <form id="form-img" action="/api/user/avatar" method="post" target="iframe-img" enctype="multipart/form-data">
                    <input id="avatar" name="avatar" type="file">
                    <iframe style="display: none;" id="iframe-img" name="iframe-img" ></iframe>
                </form>
                <img class="avatar-img" src="<%= user.info.avatar %>" alt="">
            </div>
            <div class="info">
                <div class="group">
                    <p class="title">个性签名： </p>
                    <input class="description" type="text" placeholder="个性签名"  value="<%= user.info.description %>">
                </div>
                <div class="group community" style="margin-right: 40px">
                    <p class="title">QQ空间：</p>
                    <input class="qq" type="text" placeholder="QQ号或链接"  value="<%= user.info.qq %>">
                </div>
                <div class="group community">
                    <p class="title">微博：</p>
                    <input class="wb" type="text" placeholder="微博主页链接"  value="<%= user.info.wb %>">
                </div>
                <div class="group">
                    <p class="title">用户名：<span style="color: #ffcdcd;">不可修改</span></p>
                    <input class="loginname" readonly="readonly" type="text" placeholder="用户名" value="<%= user.info.loginname %>">
                </div>
                <div class="group">
                    <p class="title">邮箱号： <span style="color: #ffcdcd;">不可修改</span></p>
                    <input class="email" readonly="readonly" type="email"  placeholder="验证邮箱"  value="<%= user.info.email %>">
                </div>
                <div style="clear: both;"></div>
                <div class="group clearfix" style="float: right;">
                    <div class="btn finish">更新</div>
                    <div class="btn cancel">取消</div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- include('../footer.html') %>
</body>
</html>
