<div class="user-hd clearfix">
	<a href="/user/edit"><img src="<%= author.avatar %>" alt="<%= author.loginname %>" class="avatar"></a>
	<div class="info">
		<strong class="ell"><a href="/user/edit"><%= author.loginname %></a></strong>
		<p class=""><%= author.description %></p>
		<a href="" class="con kj iconfont">&#xe68c;</a>
		<a href="" class="con wb iconfont">&#xe61e;</a>
	</div>
</div>

<div class="user-hd-port clearfix">
	<a class="on" href="">发帖(<%= topic_count %>)</a>
	<a href="">回复(23)</a>
</div>