<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%= title + ' ' + config.title %></title>
    <meta name="description" content="<%= config.description %>" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />

    <%-
        Loader('/public/css/user_index.css')
        .css('/public/css/default.css')
        .css('/public/css/header.css')
        .css('/public/css/body.css')
        .css('/public/css/page.css')
        .css('/public/css/reply.css')
        .css('/public/css/sidebar.css')
        .css('/public/css/rank.css')
        .css('/public/css/post_rank.css')
        .css('/public/css/community.css')
        .css('/public/css/to.css')
        .css('/public/css/footer.css')
        .css('/public/css/user_header.css')
        .css('/public/css/head_phone.css')
        .css('/public/css/paging.css')
        .done(assets, config.static_host, config.mini_assets)
    %>

    <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
    <%-
        Loader('/public/js/user_index.js')
        .js('/public/js/legal.js')
        .js('/public/js/main.js')
        .js('/public/js/post.js')
        .js('/public/js/head_phone.js')
        .js('/public/js/hint.js')
        .js('/public/js/api.js')
        .done(assets, config.static_host, config.mini_assets)
    %>
</head>
<body>

<%- include('../header.html', {user: user}) %>
<%- include('./body.html') %>
<%- include('../footer.html') %>
<script>
	(function(){
		var bp = document.createElement('script');
		var curProtocol = window.location.protocol.split(':')[0];
		if (curProtocol === 'https') {
			bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
		}
		else {
			bp.src = 'http://push.zhanzhang.baidu.com/push.js';
		}
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(bp, s);
	})();
</script>
</body>
</html>