<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%= title + ' ' + config.title %></title>
    <meta name="description" content="<%= config.description %>" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />

    <%-
        Loader('/public/css/login_index.css')
        .css('/public/css/default.css')
        .css('/public/css/header.css')
        .css('/public/css/head_phone.css')
        .css('/public/css/user_new.css')
        .css('/public/css/footer.css')
        .done(assets, config.static_host, config.mini_assets)
    %>

    <script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>
    <%-
        Loader('/public/js/login_index.js')
        .js('/public/js/hint.js')
        .js('/public/js/head_phone.js')
        .js('/public/js/login_index.js')
        .done(assets, config.static_host, config.mini_assets)
    %>
</head>
<body>
<%- include('../header.html', {user: user}) %>

<div id="main" style="padding-bottom: 100px">
    <p class="title iconfont">
        <span><i class=" iconfont">&#xe60f;</i>用户登录</span>
    </p>
    <div class="edit">
        <form id="new-user-form" class="clearfix" action="/api/user/login" method="post" enctype="application/x-www-form-urlencoded">
            <div class="item">
                <span><i class="iconfont" style="position:relative;top: -2px;">&#xe611;</i>请输入用户名</span>
                <input  class="loginname" name="loginname" type="text" placeholder="昵称" >
                <div class="line"></div>
            </div>
            <div class="item">
                <span><i class="iconfont">&#xe660;</i>请输入你的密码</span>
                <input class="password" name="password" type="password" placeholder="密码">
                <div class="line"></div>
            </div>
            <div class="item btn finish">登录</div>
            <a class="tologin" href="/user/new">还没有账号，马上注册</a>
            <% if ( config.qq.ID != '' || config.wb.ID != '') { %>
            <span class="more">第三方账号登录</span>
            <div class="item login-more clearfix">
                <% if ( config.wb.ID != '' ) { %><a class="item btn btn-quick" style="margin-right: 20px;" href="/auths/wb"><em class="iconfont" style="color: #ff424f;">&#xe652;</em></a><% } %>
                <% if ( config.qq.ID != '' ) { %><a class="item btn btn-quick" href="/auths/qq"><em class="iconfont" style="color: #43d2f4;">&#xe607;</em></a><% } %>
            </div>
            <% } %>

        </form>
    </div>
</div>

<%- include('../footer.html') %>

</body>
</html>