<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" type="text/css" href="/public/css/default.css">
    <link rel="stylesheet" type="text/css" href="/public/css/header.css">
	<link rel="stylesheet" type="text/css" href="/public/css/user_new.css">
	<link rel="stylesheet" type="text/css" href="/public/css/head_phone.css">
    <link rel="stylesheet" type="text/css" href="/public/css/footer.css">

	<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
	<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js" type="text/javascript"></script>
	<script src="/public/js/hint.js" type="text/javascript"></script>
	<script src="/public/js/legal.js" type="text/javascript"></script>
	<script src="/public/js/head_phone.js" type="text/javascript"></script>
</head>
<body>
<%- include('../header.html', {user: user}) %>
<%
	if (!user.info) {
		user.info = {
			avatar:  '/avatar/user_default.png',
			name  :  'aa',
			desc  :  ''
		}
	}
%>
<div id="main">
	<p class="title iconfont">
		<span><i class=" iconfont">&#xe60f;</i>户口登记</span>
	</p>
	<div class="edit">

		<form id="new-user-form" action="/api/user/new" method="post" enctype="application/x-www-form-urlencoded">
			<div class="item">

				<span><i class="iconfont" style="position:relative;top: -2px;">&#xe611;</i>用户名(注册后不能修改)</span>
				<input class="loginname" name="loginname" type="text" placeholder="昵称" value="<%= user.info.name %>">
				<div class="line"></div>
			</div>
			<div class="item">

				<span><i class="iconfont">&#xe60d;</i>请输入你的个性签名</span>
				<input class="description" name="description" type="text" placeholder="个性签名" value="<%= user.info.desc %>">
				<div class="line"></div>
			</div>
			<div class="item">

				<span><i class="iconfont">&#xe660;</i>设置密码</span>
				<input class="password" name="password" type="password" placeholder="密码">
				<div class="line"></div>
			</div>
			<div class="item">

				<span><i class="iconfont">&#xe614;</i>邮箱，可用以找回密码</span>
				<input class="email" name="email" type="email" placeholder="邮箱">
				<div class="line"></div>
			</div>
			<div class="item agreement">

				<span><i class="iconfont">&#xe698;</i>我同意站长是最帅的</span>
			</div>
			<div class="item btn finish">注册</div>
			<a class="tologin" href="/user/login">已有账号，马上登录</a>
			<span class="more">第三方账号注册</span>
			<div class="item login-more clearfix">
                <a class="item btn btn-quick" style="margin-right: 20px;" href="<%= 'https://api.weibo.com/oauth2/authorize?client_id=' + config.wb.ID + '&redirect_uri=' + config.wb.CALLBACK_URI + '&response_type=code&state=' + user.state_code %>"><em class="iconfont" style="color: #ff424f;">&#xe652;</em></a>
                <a class="item btn btn-quick" href="<%= 'https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=' + config.qq.ID + '&redirect_uri=' + config.qq.CALLBACK_URI + '&state=' + user.state_code %>"><em class="iconfont" style="color: #43d2f4;">&#xe607;</em></a>
            </div>
		</form>
	</div>
</div>

<%- include('../footer.html') %>
<script type="text/javascript">
	$('.more').on('click', function () {
		this.off = !this.off;
		$this = $(this);
		if (this.off) {
			$('.login-more').css('display', 'block');
		} else {
			$('.login-more').css('display', 'none');
		}
	});
	$('.finish').on('click', function () {
		var loginname = $('.loginname').val();
		var password  = $('.password').val();
		var description = $('.description').val();
		var email = $('.email').val();
		if (checkChar(loginname) !== 1) {
			return hint('昵称不能含有特殊字符!');
		}
		if (!loginname || !password || !email) {
			return hint('请完整填写选项!');
		}
		if (!/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/.test(email)) {
			hint('邮箱格式不正确');
			return;
		}
		if (loginname.length < 3 || loginname.length > 20) {
			hint('名字长度大于3或小于20');
			return;
		}
		console.log(password.length);
		if (password.length < 6 || password.length > 16) {
			hint('密码长度大于6或小于16');
			return;
		}
		if (description.length > 150) {
			hint('描述有点长，只能在150个字符以内');
			return;
		}
		var $This = $(this);
		$This.html('<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>');
		//document.getElementById('new-user-form').submit();
		var data = 'loginname=' + loginname + '&password=' + md5(password) + '&email=' + email + '&description=' + description;
		$.ajax({
			type: 'POST',
			url: '/api/user/new',
			data: data,
			success: function (msg) {
				if (msg.states < 1) {
					hint(msg.hint);
					$This.html('注册');
					return;
				}
				window.location.href = '/';
			}
		})
	});

</script>
</body>
</html>