<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%= title + ' ' + config.title %></title>
	<meta name="description" content="<%= config.description %>" />
	<meta name="keywords" content="<%= config.keywords %>" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=no" />
	<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />

	<%-
		Loader('/public/css/user_new_index.css')
		.css('/public/css/default.css')
		.css('/public/css/header.css')
		.css('/public/css/head_phone.css')
		.css('/public/css/user_new.css')
		.css('/public/css/footer.css')
		.done(assets, config.static_host, config.mini_assets)
	%>

	<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>
	<%-
		Loader('/public/js/user_new_index.js')
		.js('/public/js/hint.js')
		.js('/public/js/legal.js')
		.js('/public/js/head_phone.js')
		.js('/public/js/user_new_index.js')
		.done(assets, config.static_host, config.mini_assets)
	%>
</head>
<body>
<%- include('../header.html', {user: user}) %>
<%
	if (!user.info) {
		user.info = {
			avatar:  '/avatar/user_default.png',
			name  :  '',
			desc  :  ''
		}
	}
%>
<div id="main">
	<p class="title iconfont">
		<span><i class=" iconfont">&#xe60f;</i>户口登记</span>
	</p>
	<div class="edit">

		<form id="new-user-form" action="/api/user/new" method="post" enctype="application/x-www-form-urlencoded">
			<div class="item">
				<span><i class="iconfont" style="position:relative;top: -2px;">&#xe611;</i>用户名(注册后不能修改)</span>
				<input class="loginname" name="loginname" type="text" placeholder="3-12位中文,字母,数字" value="<%= user.info.name %>">
				<div class="line"></div>
			</div>
			<div class="item">

				<span><i class="iconfont">&#xe660;</i>设置密码</span>
				<input class="password" name="password" type="password" placeholder="6-16位">
				<div class="line"></div>
			</div>
			<div class="item">

				<span><i class="iconfont">&#xe614;</i>邮箱，可用以找回密码</span>
				<input class="email" name="email" type="email" placeholder="邮箱">
				<div class="line"></div>
			</div>
			<div class="item agreement">

				<span><i class="iconfont">&#xe698;</i>我同意站长是最帅的</span>
			</div>
			<div class="item btn finish">注册</div>
			<a class="tologin" href="/user/login">已有账号，马上登录</a>
			<% if ( config.qq.ID != '' || config.wb.ID != '') { %>
			<span class="more">第三方账号登录</span>
			<div class="item login-more clearfix">
				<% if ( config.wb.ID != '' ) { %><a class="item btn btn-quick" style="margin-right: 20px;" href="/auths/wb"><em class="iconfont" style="color: #ff424f;">&#xe652;</em></a><% } %>
				<% if ( config.qq.ID != '' ) { %><a class="item btn btn-quick" href="/auths/qq"><em class="iconfont" style="color: #43d2f4;">&#xe607;</em></a><% } %>
			</div>
			<% } %>
		</form>
	</div>
</div>

<%- include('../footer.html') %>
</body>
</html>