<div class="community rank">
    <span class="title"><i class="iconfont" style="vertical-align: middle;">&#xe63a;</i>未知领域</span>
    <div class="item clearfix">
        <div class="info">
            <ul>
                <li><a href="http://qm.qq.com/cgi-bin/qm/qr?k=jR6IJcxwtxWLAQcKEc9UNTD3ANmMAma8"><i class="iconfont">&#xe61c;</i></a></li>
                <li><a style="line-height:61px;" href=""><i class="iconfont">&#xe68c;</i></a></li>
                <li><a href=""><i class="iconfont">&#xe61e;</i></a></li>
                <li><a href=""><i class="iconfont">&#xe600;</i></a></li>
            </ul>
        </div>
    </div>
</div>