<div class="rank post-rank">
    <span class="title"><i class="iconfont" style="color: #3498DB;">&#xe803;</i>热门推荐</span>
    <% for (var i = 0; i < topic_rank.length; i++) { %>
    <div class="item clearfix">
        <a class="head" href="/topic/<%= topic_rank[i]._id %>"  target="_blank">
            <img src="<%= topic_rank[i].content + config.qiniu.shrink %>" alt="" width="60" height="60">
        </a>
        <div class="info">
            <a href="/topic/<%= topic_rank[i]._id %>"  target="_blank"><%= topic_rank[i].title %></a>
        </div>
    </div>
    <% } %>
</div>