<div class="page">
    <%- include('./post.html') %>
    <%- include('./paging.html') %>
    <script type="text/html" id="replyTemplate">
        <div class="reply-item clearfix">
            <a class="reply-head" href="">
                <img src="[avatar]" alt="" width="30" height="30">
            </a>
            <div class="reply-content">
                <a href="">[name]</a>
                <span>[text]</span>
            </div>
            <div class="reply-port clearfix">
                <div class="r">
                    <a href="javascript:void(0)" data-topic-id="[_id]"><i class="iconfont">&#xe872;</i>[like]</a>
                </div>
                <em>[floor]L</em>
            </div>
        </div>
    </script>
</div>