<% if (typeof(paging) != "undefined") { %>
<div id="paging">
    <ul class="clearfix">
        <%
        paging = parseInt(paging);
        var paging_start = paging;
        var paging_count = Math.ceil(count / config.topic_limit)
        if (paging + 2 > paging_count)
        paging_start = paging - 3;

        if (paging + 1 > paging_count)
        paging_start = paging - 4;

        if (paging - 2 >= 1)
            paging_start = paging - 2;

        if (paging - 2 <= 0)
            paging_start = 1;



        if (paging - 1 >= 1) { %>
            <li><a href="<%= paging_link + '/' + (paging - 1) %>">上一页</a></li>
        <% }

        for (var i = paging_start; i < paging_start + 5 && i <= paging_count; i++) {
            if (i == paging) { %>
                <li><a class="on" href="<%= paging_link + '/' + i %>"><%= i %></a></li>
            <% } else { %>
                <li><a href="<%= paging_link + '/' + i %>"><%= i %></a></li>
            <% }
        } %>

        <% if (paging + 1 <= paging_count) { %>
            <li><a href="<%= paging_link + '/' + (paging + 1) %>">下一页</a></li>
        <% } %>

        <li class="clearfix skip-to">
            <input id="skip-to" paging-link="<%= paging_link + '/' %>" class="skip-to" type="text" placeholder="">
            <a id="skip-bn" href="javascript:void(0)">跳转</a>
        </li>
    </ul>
</div>
<% } %>