
<% for (var i = 0; i < topic.length; i++){ %>
<div class="post-item">
    <div class="post-head clearfix">
        <a class="avatar clearfix" href="">
            <img src="<%= topic[i].author.avatar %>" alt="" width="50" height="50">
            <span class="name"><%= topic[i].author.loginname %></span>
        </a>
        <div class="user-info">
            <a class="name" href=""><%= topic[i].author.loginname %></a>
            <p class="ell"><%= topic[i].author.description %></p>
        </div>
    </div>
    <div class="content">
        <h3 class="title"><a href=""><%= topic[i].title %></a></h3>
        <a href="" class="picture">
            <img src="<%= topic[i].content %>" alt="">
        </a>
    </div>
    <div class="port">
        <div class="bar">
            <a href="javascript:void(0)">
                <span><i class="iconfont">&#xe86f;</i></span>
            </a>
            <a class="reply-button" href="javascript:void(0)">
                <span><i class="iconfont">&#xe870;</i><%= topic[i].reply_count %></span>
            </a>
            <a class="like" href="javascript:void(0)">
                <span><i class="iconfont">&#xe63b;</i><%= topic[i].like_count %></span>
            </a>
        </div>
    </div>
    <div class="reply">
        <div class="default"><i class="iconfont">&#xe61f;</i><span>加载中...</span></div>
        <div class="reply-wrap">

        </div>
        <div class="comment clearfix">
            <textarea class="comment-content" placeholder="大家都是文化人，有话好好说"></textarea>
            <span class="comment-bnt">发表评论</span>
        </div>
    </div>
</div>

<% } %>