<div class="post-item">
    <div class="post-head clearfix">
        <a class="avatar clearfix" href="">
            <img src="http://src.dounide.cn/tx/uid10007.jpg" alt="" width="50" height="50">
            <span class="name">好久好久以前还是个小屁孩</span>
        </a>
        <div class="user-info">
            <a class="name" href="">浪啊浪</a>
            <p class="ell">描述？不该是签名么</p>
        </div>
    </div>
    <div class="content">
        <h3 class="title"><a href="">我有一只小毛驴，我从来也不骑，有一天我心血来潮，骑它去赶集，我手里拿着小皮鞭，我心里正得意</a></h3>
        <a href="" class="picture">
            <img src="http://qt-1251888776.picsh.myqcloud.com/t/1496002130_244.jpg/bottom" alt="">
        </a>
    </div>
    <div class="port">
        <div class="bar">
            <a href="javascript:void(0)">
                <span><i class="iconfont">&#xe86f;</i></span>
            </a>
            <a class="reply-button" href="javascript:void(0)">
                <span><i class="iconfont">&#xe870;</i>1</span>
            </a>
            <a class="like" href="javascript:void(0)">
                <span><i class="iconfont">&#xe63b;</i>2</span>
            </a>
        </div>
    </div>
    <div class="reply">
        <div class="default"><i class="iconfont">&#xe61f;</i><span>加载中...</span></div>
        <div class="reply-wrap">

        </div>
        <div class="comment clearfix">
            <textarea class="comment-content" placeholder="大家都是文化人，有话好好说"></textarea>
            <span class="comment-bnt">发表评论</span>
        </div>
    </div>
</div>